                <% if email.read == true %>    
                        <td>                 
                            <%= button_to "#{email.object}", email_path(email.id), method: :get, remote: true, class: "btn" %>             
                        </td>                   
                    </tr>
                    
                <% else %>  
                
                    <tr>            
                        <td class="read">
                            <div id="email_object">
                                <%= button_to "#{email.object}", email_path(email.id), method: :get, remote: true, class: "btn btn-info" %>
                            </div>
                        </td>                 
                    </tr>
                
                <% end %>
             