<div class="container">
    <h2>Gmail Like</h2>

    <div>    
        <p><%= button_to "Recevoir un email", emails_path, method: :post, remote: true, class: "btn btn-info" %></p>       
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Liste des emails</th>
            <th>Contenu de l'email sélectionné</th>
        </tr>
        </thead>

            

        <tbody id="email_object">

        <tr>
        <% @emails.each do |email|%>
            <td><%= email.object %></td>              
            <td></td>
        </tr>
    
        </tbody>
             <% end %>
    </table>
    </div>