<!-- SIDE BUTTON CONTACT (using fontawesome) -->

<div id="side-button-container" style="visibility: visible; opacity: 1;">

        <!-- BUTTON PHONE -->
        <div class="btn-phone" >
            <a href="#" class="link"><i class="fas fa-phone-alt"></i>
            </a>
        </div>

        <!-- BUTTON MESSAGE -->
        <div class="btn-message">
            <a href="#" class="link"><i class="fas fa-envelope"></i>
            </a>
        </div>

</div>


