<div class="btn-chat" id="livechat-compact-container" style="visibility: visible; opacity: 1;">
	<div class="btn-holder">
		<a onclick="parent.LC_API.open_chat_window();return false;" href="#" class="link">Live Chat</a>
	</div>
</div>